ul {

	margin: 0;
	padding: 0;
	list-style-type: none;
	
	width: 695px;
	background: #159cb0 url(../img/fundo-horizontal.png) repeat-x;
	float: left;
	
}

ul li{

	float: left;
}

ul a {

	text-decoration: none;
	display: block;
	padding: 0 2em;
	line-height: 2.5em;
	color: #FFF;
	background: url(../img/divisor.png) repeat-y;
}

ul .primeiro a{

	background: none;
}

ul .ultimo a{

	background: none;
}
a:hover {
	color: #085662;
	background: #44cade;
}